<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="margin-top:50px">

<div class="container-fluid" style="color:#337ab7">
    <h1 th:text="${title}">Default Title</h1>
</div>

<nav th:replace="fragments :: navadmin"></nav>

<form class=" container-fluid" method="post" style="max-width:600px;margin-top:50px" th:object="${blog}">
    <div class="form-group">
        <label th:for="topic">Topic</label>
        <input class="form-control" th:field="*{topic}" />
        <div th:errors="*{topic}" class="error"></div>
    </div>

    <div class="form-group">
        <label th:for="description">Information</label>
        <textarea class="form-control" rows="5" th:field="*{description}" />
        <div th:errors="*{description}" class="error"></div>
    </div>

    input  class="btn btn-primary" type="submit" value="Save" />
    <a href="/blog/" class="btn btn-primary" role="button">Cancel</a>
</form>

</body>
</html>