<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="margin-top:50px">

<div class="container-fluid" style="color:#337ab7">
    <h1 th:text="${title}">Default Title</h1>
    <h3 style="margin-top:50px;margin-left:400px;color:red" th:text="${message}"></h3>
</div>

<nav th:replace="fragments :: navadmin"></nav>

<form class=" container-fluid" method="post" style="max-width:600px;margin-top:50px">

    <div th:each="player : ${players}" class="checkbox">
        <input type="checkbox" name="playerIds" th:value="${player.id}" th:id="${player.id}"/>
        <label th:for="${player.id}" th:text="${player.player_name} "></label>
        <br />
    </div>

    <input  class="btn btn-danger" type="submit" value="Delete" />
    <a href="/player/" class="btn btn-primary" role="button">Cancel</a>
</form>

</body>
</html>