<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" style="margin-top:100px">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="player : ${players}" class="checkbox">
        <input type="checkbox" name="playerIds" th:value="${player.id}" th:id="${player.id}"/>
        <label th:for="${player.id}" th:text="${player.player_name} "></label>
        <br />
    </div>

    <input type="submit" value="Remove Player" />
</form>

</body>
</html>