<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >


<nav th:replace="fragments :: navigation"></nav>

<div class="container panel panel-primary " style="margin-top:100px">

    <div class="panel-heading " >
        <h4>All Players</h4>
    </div>

    <table class="table table-striped ">

        <div style="margin-top:50px">

            <tr class=" info">
                <th>Player</th>
                <th>Team</th>
                <th>Pos</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Clean Sht</th>
                <th>Red </th>
                <th>Yellow </th>
                <th>Matches</th>
            </tr>

            <tr th:each="player : ${players}">
                <td th:text="${player.player_name} "></td>
                <td th:text="${player.team.getTeam_name()}"></td>
                <td th:text="${player.player_position}"></td>
                <td th:text="${player.goal_scored}"></td>
                <td th:text="${player.assists}"></td>
                <td th:text="${player.clean_sheet}"></td>
                <td th:text="${player.red_card}"></td>
                <td th:text="${player.yellow_card}"></td>
                <td th:text="${player.games_played}"></td>
            </tr>


        </div>
    </table>


</div>

</body>
</html>