<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body >


<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron text-center">
    <h1 th:text="${title}">Default Title</h1>
</div>

<div class=" panel panel-default col-sm-8">
    <div class="media">
        <div class="media-left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh1b3L3kO8_J1pBKaV7XqVRS6JzjdBEd3fJENWFTkMCIMb1_yz"/>
        </div>
        <div class="media-body">
                <h2>Welcome to the JamRock Soccer Cup Page </h2>
                <p> This Soccer League will run for 2 months and compromises of 8 teams from the surrounding neighborhoods. </p>
                <p> Matches are scheduled for Saturdays and Sundays only (2 matches per day), 9 a.m and 12 p.m .  </p>
                <p> Each team will play a total of 7 matches (each team will play against all the other teams in the league once).</p>
                <p> At the end of the League the team with the most points wil be awarded a Trophy along with other prizes.</p>
        </div>
    </div>
</div>




<div  class="col-sm-8" style="margin-top :50px ">

        <table class="table table-bordered table-striped">

        <tr class="success">
             <th><h3>Teams</h3></th>
             <th><h3>Referee Name</h3></th>
             <th><h3>Match Date</h3></th>
             <th><h3>Match Time</h3></th>
             <th><h3>Match Results</h3></th>
        </tr>

        <tr th:each="fixture : ${fixtures}">
            <td th:text="${fixture.team.getTeam_name()} + ' ' + VS + ' '+ ${fixture.team_second.getTeam_name()}"></td>
            <td th:text="${fixture.ref_name}"></td>
            <td th:text="${fixture.match_date}"></td>
            <td th:text="${fixture.match_time}"></td>
            <td th:text="${fixture.home_team_goal} + ' - ' + ${fixture.away_team_goal} "></td>
        </tr>

        </table>

</div>

</body>
</html>