<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >


<div sec:authorize="isAuthenticated()">
    <nav th:replace="fragments :: navadmin"></nav>
</div>

<div sec:authorize="isAnonymous()">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class=" container panel panel-primary " style="margin-top:100px">

    <div class="panel-heading " >
        <h4>LEADER BOARD</h4>
    </div>

    <table class="table table-striped ">

        <div style="margin-top:50px">
            <h4>GOAL</h4>
        </div>

        <tr class="info" >
            <th class="col-md-4">Player</th>
            <th class="col-md-4">Team Name</th>
            <th class="col-md-4">Goals</th>
        </tr>

        <tr th:each="player : ${players}">
            <td th:text="${player.player_name} "></td>
            <td th:text="${player.team.getTeam_name()}"></td>
            <td th:text="${player.goal_scored}"></td>
        </tr>

    </table>

    <table class="table table-striped ">

        <div style="margin-top:50px">
            <h4>ASSIST</h4>
        </div>

        <tr class="info">
            <th class="col-md-4">Player</th>
            <th class="col-md-4">Team Name</th>
            <th class="col-md-4">Assists</th>
        </tr>

        <tr th:each="player : ${playersa}">
            <td th:text="${player.player_name} "></td>
            <td th:text="${player.team.getTeam_name()}"></td>
            <td th:text="${player.assists}"></td>
        </tr>

    </table>

    <table class="table  table-striped ">

        <div style="margin-top:50px">
             <h4>CLEAN SHEET</h4>
        </div>

        <tr class="info">
            <th class="col-md-4">Player</th>
            <th class="col-md-4">Team Name</th>
            <th class="col-md-4">Clean Sheets</th>
        </tr>

        <tr th:each="player : ${playerscs}">
            <td th:text="${player.player_name} "></td>
            <td th:text="${player.team.getTeam_name()}"></td>
            <td th:text="${player.clean_sheet}"></td>
        </tr>

    </table>


</div>
</body>
</html>