<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Match Fixtures</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/guest">JAMROCK<span class="glyphicon glyphicon-globe"></span>CUP</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/guest"><span class="glyphicon glyphicon-home"></span>Home Page</a></li>
            <li><a href="/fixture"><span class="glyphicon glyphicon-calendar"></span>Fixtures</a></li>
            <li><a href="/player"><span class="glyphicon glyphicon-user"></span>Players</a></li>
            <li><a href="/team"><span class="glyphicon glyphicon-check"></span>Teams</a></li>
            <li><a href="/guest/leader">Leader Board</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

</body>
</html>