<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:frament="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Soccer Cup News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <script type="text/javascript"src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"> </script>

</head>
<body>

<nav th:fragment="navigation">
    <ul class="navList">
        <li><a href="/news/index">Home</a></li>
        <li><a href="/news/add">Add</a></li>
        <li><a href="/news/remove">Remove</a> </li>
    </ul>
</nav>

</body>
</html>