<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body  >


<nav th:replace="fragments :: navadmin"></nav>

<p th:unless="${teams} and ${teams.size()}">No Team Available</p>

<div class="jumbotron text-center" style="background-color:#337ab7; font-family:verdana;">
    <h1 th:text="${title}">Default Title</h1>
</div>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav" style="background-color:#f1f1f1; height:auto;">
            <h4>MENU</h4>
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
                <li class="active"><a href="/team/">Team Home</a></li>
                <li><a href="/team/add">Add Team</a> </li>
            </ul>
        </div>
        <div class="col-sm-9">
<table class="table table-bordered">

    <tr>
        <th>Edit</th>
        <th>Team Name</th>
        <th>Points</th>
        <th>Matches Played</th>
        <th>Matches Won</th>
        <th>Matches Lost</th>
        <th>Matches Draw</th>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Goal Difference</th>
    </tr>

    <tr th:each="team : ${teams}">
        <td><a th:href="'team/edit/' + ${team.id}" th:text="Edit"></a></td>
        <td  th:text="${team.getTeam_name()}"></td>
        <td th:text="${team.points}"></td>
        <td th:text="${team.matches_played}"></td>
        <td th:text="${team.matches_won}"></td>
        <td th:text="${team.matches_lost}"></td>
        <td th:text="${team.matches_draw}"></td>
        <td th:text="${team.goals_for}"></td>
        <td th:text="${team.goals_against}"></td>
        <td th:text="${team.goal_difference}"></td>
    </tr>

</table>
        </div>
    </div>
</div>


</body>
</html>